*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    /* background:linear-gradient(135deg ,#fd1d1d,
        #833ab4) ; */
        background: linear-gradient(135deg, #fd1d1d,
                    #8924cd);
    /* background: #001e4d; */
    height: 100vh; 
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    padding-top: 25px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    font-weight: 600;
    margin: 0;
    padding-top: 0;
    
}
.app img{
    height: 60px;
    margin: 0;
    padding: 0;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 8px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 1px,solid #222;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ;
}
.btn:hover:not([disabled]){
  background: #222;
  color: #fff;  
}
.btn:disabled{
    cursor:no-drop;
}
#next{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    margin: 20px auto 0;
    padding: 10px;
    width: 100px;
    border-radius: 4px;
    transition: all 0.2s;
    left: 20px;
    display: none;
}
#next:hover{
    font-size: 15px;
    box-shadow: 0 0 5px rgba(10, 2, 82, 0.6);
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}


